.admintitle {
	text-align: center;
  margin-top: 0;
}

.content {
  background-color: #F7F7FF;
  border-radius:15px;
  margin-left:auto;
  margin-right:auto;
  margin-top:5%;
  margin-bottom:0;
  height:auto;
  max-width:60%;
  box-shadow: 0px 5px 10px #222222;
  padding-bottom:0;
  padding-top:0;
}

.remove {
  margin-bottom: 4%;
}

.yield:hover, .yieldc:hover{
  color: #E14C2B;
}

.row {
  min-width: 80%;
}