.tabs-list {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
.tab-item {
  font-weight: 600;
  font-size: 13px;
  float: left;
  padding: 13px 23.02%;
  margin: 0;
  list-style: none;
  cursor: pointer;
}
.tab-item.active {
  border-radius: top 5px;
  border: 1px solid #ddd;
  border-bottom: none;
  margin-bottom: -1px !important;
  padding: 13px 23.03% 14px 23.02% !important;
  background-color: #fff;
  color: #333;
}
.tabs-content-container {
  padding: 4.2% 15px 15px 15px;
}