.tabs-list {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
.tab-item {
  font-weight: 600;
  font-size: 13px;
  float: left;
  padding: 13px 23.2%;
  margin: 0;
  list-style: none;
  cursor: pointer;
  margin-bottom:3%;
}
.tab-item.active {
  border-radius: top 5px;
  border: 1px solid #ddd;
  border-bottom: none;
  margin-bottom: -1px !important;
  padding: 13px 23.18% 14px 23.18% !important;
  background-color: #fff;
  color: #333;
}
.tabs-content-container {
  padding: 4.2% 15px 15px 15px;
}
.tabs-content {
overflow: scroll;
min-width: 500px;
max-height: 500px;
}